<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ab10a33f6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
        <span class="navbar-text">
            Welcome, {{user['first_name']}}
          </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
                <a href="/edit"><button type="button" class="btn btn-success">Edit User</button></a>
            </li>
            <li class="nav-item">
                <a href="/on_logout"><button type="button" class="btn btn-success">Logout</button></a>
            </li>
          </ul>
          <span class="navbar-text">
            Quarantine Friends
          </span>
        </div>
      </nav>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                About
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p><b>About us:</b></p>
              <p>This website was designed as a group project from Students at Coding Dojo. Main purpose of this website is to help people get supplies that they need during the COVID-19 crisis.</p>
              <p><b>So how does this site work:</b></p>
              <p>This website works by users placing pins on map in their local area where they saw supplies and other users voting it up/down if supplies are there</p>
              <p><b>How do I start:</b></p>
              <ul>
                <li>Click the "Find the goods!" green button at bottom of screen </li>
                <li>Allow browser to use your location (this will move map to your area)</li>
                <li>Look for the toilet paper Icon, that is where your supplies are</li>
                <li>Be sure to vote up/ vote down if supplies are there</li>
                <li>Hey you found some supplies that are not on map share the info and click on map to place icon for others to see</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Useful Links
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">Center Of Disease Control and Prevention (CDC)</a></li>
                <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/index.html#cdc-chat-bot-open">Coronavirus Self Checker (CDC)</a></li>
                <li><a href="https://www.congress.gov/bill/116th-congress/house-bill/6201/text">Families First Coronavirus Response Act</a></li>
                <li><a href="https://www.statnews.com/2020/03/26/covid-19-tracker/">Corona Virus tracker</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Contact Us
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Please contact us if you run into any issues with our website at:
              </p>
              <p>
                supplytracker_staff@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingfour">
              <h2 class="mb-0">
                <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                  Feedback
                </button>
              </h2>
            </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
              <div class="card-body">
                <p>Please let us know how your experience was and how we can make it better. We are always trying to improve. </p>
              <a href="/feedback"><button class="btn btn-success">Leave an Anonymous Review</button></a>
              </div>
            </div>
        </div>
      </div>
      <div class="jumbotron">
        <h1 class="display-4">Look 4 supplies!</h1>
        <p class="lead">Use google maps to look for customized pins of the products you are looking for, you can also Post and Delete pins.</p>
        <hr class="my-4">
        <p>Be curtious to the other Quarantine Friends users and update the Pins accordingly</p>
        <a class="btn btn-success btn-lg" href="/test" role="button">Find the goods!</a>
      </div>
    </div>
    <!-- boostrap stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>
</html>