<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">
  <script src="https://kit.fontawesome.com/ab10a33f6d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/map.css') }}">
  <title>My Google Map</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
    <span class="navbar-text">
        Map
      </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
            <a href="/dashboard"><button type="button" class="btn btn-success">Dashboard</button></a>
        </li>
        <li class="nav-item">
            <a href="/on_logout"><button type="button" class="btn btn-success">Logout</button></a>
        </li>
      </ul>
      <span class="navbar-text">
        Quarantine Friends
      </span>
    </div>
  </nav>
  <div>
    <form>
      <div class="form-group">
          <label for="comments"><h2>Ask Away!</h2></label>
          <textarea class="form-control" name="comments" rows="4" cols="30"></textarea>
      </div>
    <input type="submit" class="btn btn-success" value="Post">
  </form>
  </div>
  <hr>
  <div>
  <h4> Brian Says: This is where the comments will go after posted? for now until we figure out the google places API to add comments to Pins </h4>
  <h4>Brian Says: need to add scroll bar as well for now, this are all hardcoded messages i wrote myself lol need a comments db</h4>
</div>
<hr>
  <div id="map"></div>
  
  <script>
    function initMap(){
      // Map options
      var options = {
        zoom:15,
        center:{lat:42.3601,lng:-71.0589}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      var infoWindow = new google.maps.InfoWindow;

      // HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        addNewMarker({coords:event.latLng});
      });

      

      // Array of existing markers
      var markers = [
        {
          coords:{lat:42.4668,lng:-70.9495},
          iconImage:'http://www.simpleimageresizer.com/_uploads/photos/ff2568aa/NicePng_toilet-png_208712_3_20x20.png',
          // content:'<h1>Lynn MA</h1>'
        },
        {
          coords:{lat:42.8584,lng:-70.9300},
          iconImage:'http://www.simpleimageresizer.com/_uploads/photos/ff2568aa/NicePng_toilet-png_208712_3_20x20.png',
          // content:''

        },
        {
          coords:{lat:42.7762,lng:-71.0773},
          iconImage:'http://www.simpleimageresizer.com/_uploads/photos/ff2568aa/NicePng_toilet-png_208712_3_20x20.png'
        }
      ];

      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          // content:`<form action="/on_test" method="post"><p>Category</p><select name="category" id="category"><option value="toiletPaper">Toilet Paper</option></select><input type="hidden" name="lat" value=${props.coords.lat()}><input type="hidden" name="lng" value=${props.coords.lng()}><input type="submit" value="submit"></form>`
          //icon:props.iconImage
        });
        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(marker.content){
          var infoWindow = new google.maps.InfoWindow({
            content:marker.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }

      // Add Marker Function
      function addNewMarker(props){

        var marker = new google.maps.InfoWindow({
          position:props.coords,
          map:map,
          content:`<form action="/on_test" method="post"><p>Add New Item</p><select name="category" id="category"><option value="toiletPaper">Toilet Paper</option></select><input type="hidden" name="lat" value=${props.coords.lat()}><input type="hidden" name="lng" value=${props.coords.lng()}><input type="submit" value="submit"></form>`
        });

        // Check content
        if(marker.content){
          var infoWindow = new google.maps.InfoWindow({
            content:marker.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAygbJgHbRE5cYKrA6y5nk2SAPiObzGT-4&callback=initMap">
    </script>
</body>
</html>
